body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; 
    color: #fff; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    background-color: #333; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e44d26; 
}

p {
    color: #bbb; 
}

#contadorVisitas {
    font-size: 24px;
    font-weight: bold;
    color: #e44d26; 
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
